*{
    margin: 0;
    padding: 0;
}

body {  
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    background-image: url('/background.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

#container {
    margin-top: 50px;
    width: 50%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #643a04dc;
    color: #fff;
}

.imageholder {
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
    height: 500px;
}

.form {
    margin-top: 20px;
    margin-bottom: 50px;
}

button {
    margin: 0;
    border: 0;
    padding: 5px;
    background-color: #e46d0b;
    color: white;
}